In [370]:
import numpy as np
import pandas as pd

**Three important pandas data structure:**
1. Series - 1D array, dictionary
2. Dataframe
3. Panel

In [371]:
pd.Series([10, 20, 30])

0    10
1    20
2    30
dtype: int64

In [372]:
names = pd.Series(['Ravi', 'Shyam', 'Madhu'], index=[1, 2, 3])

In [373]:
names[[1, 3]]

1     Ravi
3    Madhu
dtype: object

In [374]:
months = pd.Series([2, 3, 4, 5], index=['Feb', 'Mar', 'Apr', 'May'])

In [375]:
capitalsDict = {
    'India': 'New Delhi',
    'USA': 'Washington DC',
    'UK': 'London',
    'France': 'Paris',
    # 'Bangladesh': 'Dhaka',
    # 'Cannada': 'Ottawa',
    # 'Japan': 'Tokyo',
}

In [376]:
display(capitalsDict)

{'India': 'New Delhi',
 'USA': 'Washington DC',
 'UK': 'London',
 'France': 'Paris'}

In [ ]:
capitalsSeries = pd.Series(capitalsDict)
capitalsSeries.name = 'Capitals'
capitalsSeries.index.name = 'Country'

In [378]:
capitalsSeries

Country
India         New Delhi
USA       Washington DC
UK               London
France            Paris
Name: Capitals, dtype: object

In [379]:
capitalsSeries['France':'USA':-1]

Country
France            Paris
UK               London
USA       Washington DC
Name: Capitals, dtype: object

In [380]:
rangeSeries = pd.Series(np.arange(10, 30, 2), index=list('ABCDEFGHIJ'))

In [381]:
rangeSeries[1:3]

B    12
C    14
dtype: int64

In [382]:
rangeSeries['A':'D'] = 350

In [383]:
rangeSeries

A    350
B    350
C    350
D    350
E     18
F     20
G     22
H     24
I     26
J     28
dtype: int64

In [384]:
rangeSeries

A    350
B    350
C    350
D    350
E     18
F     20
G     22
H     24
I     26
J     28
dtype: int64

In [385]:
rangeSeries.head()

A    350
B    350
C    350
D    350
E     18
dtype: int64

In [386]:
rangeSeries.tail()

F    20
G    22
H    24
I    26
J    28
dtype: int64

In [387]:
A = pd.Series(range(1, 6), index=list('ABCDE'))

In [388]:
B = pd.Series([10, 20, -10, -50, 100], index=list('ZYACE'))

In [392]:
(A+B).empty

False

In [ ]:
pd.Series(A.add(B, fill_value=0), dtype=int)

A     -9
B      2
C    -47
D      4
E    105
Y     20
Z     10
dtype: int64